body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.book, .book-read, .book-active, .book-nonactive {
    margin: 20px;
    padding: 5px;
    width: 450px;
    height: 70px;
    border-radius: 5px;
}

.book-read {
    border: 2px solid lightgreen;
}

.book-active {
    border: 2px solid lightskyblue;
}

.book-nonactive {
    border: 2px solid orange;
}

.book-name {
    display: inline-block;
    margin: 20px 10px;
    font-weight: bold;
    text-align: center;
}

.btn-book {
    display: inline-block;
    float: right;
    margin: 10px;
}

.book-type-popup {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 45%;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}

.book-type {
    font-size: 18px;
    margin: 5px;
    width: 200px;
    text-align: center;
}

.book-type:hover {
    background-color: orange;
    cursor: pointer;
}